<p>Hi {{userName}},</p>
<p>We're excited that you are here!. </p>
<p>Please use the following link to verify your email for the Raadr Account:</p>
<p><a href="{{verificationLink}}" target="_blank">Verification Link</a></p>
<p>Next Steps  </p>
<p>1. Application Login.</p>
<p>2. View Dashboard.</p>
<p>Let's join hands and work together for community development.</p>
<p>If you ever find yourself needing support, please email us at Raadr.</p>
<p>Regards,</p>
<p>Raadr Team</p>