<p>Hi {{userName}},</p>
<p>You're receiving this email because you requested a password reset. </p>
<p>Please use the following link to reset your password:  </p>
<p><a href="{{resetLink}}" target="_blank">Reset Link</a></p>
<p>If you didn't request a password reset, you can ignore this email. Your password will not be changed.</p>
<p>Regards,</p>
<p>Raadr Team</p>